.form-popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reg-form__input {
    width: 30vw;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: solid 0.2rem #4CAF50;
    transition: 0.3s;
    padding-left: 0.5rem;
}

.reg-form__input:focus {
    outline: none;
    border: solid 0.2rem #c5c244;
    box-shadow: 0 0 0.5rem #c5c244;
}

.reg-form__input::placeholder {
    font-size: 1.2rem;
}

.reg-form__button,
.reg-form__text {
    color: #4CAF50;
    font-size: 1.5rem;
    width: 100%;
}

.reg-form__button {
    width: 80%;
    height: 3rem;
    background-color: #fff;
    transition: 0.3s;
    border: none;
    margin-top: 2.5rem;
}

.reg-form__button:hover {
    border: none;
    background-color: black;
    transform: scale(0.95);
}

.reg-form__error {
    color: red;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.2rem;
}