.stat-popup {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stat-buttons {
    margin-bottom: 1rem;
    width: 70%;
}

.stat-buttons__button {
    height: 2rem;
    font-size: 1.3rem;
    margin-right: 1rem;
    color: #4CAF50;
    background-color: rgba(255, 255, 255);
    transition: 0.3s;
    border: none;
}

.stat-buttons__button:hover {
    border: none;
    background-color: black;
    transform: scale(0.95);
}

table {
    width: 70%;
    height: auto;
    background-color: rgba(255, 255, 255);
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

thead {
    width: 100%;
    height: 2rem;
    background-color: #4CAF50;
}

tbody {
    width: 100%;
}

tbody > tr {
    height: 2rem;
    background-color: #4caf4f63;
}

.activePlayers {
    background: linear-gradient(to right, #00ff0499, #4caf4f63);
}

td {
    padding-left: 0.5rem;
}



